*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */

}
.container{
  background-color:#08317d;
  width: 100%;
  height:50px;
  color: white;
  
}

/* width: 100px; */
/* height: 50px; */
/* padding: 20px; */

.A1{
    /* border: 1px solid red; */
    /* width: 100px; */
         /* height:50px; */
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 15px;
    border: none;
    padding: 13px;
}
.A1:hover{
    background-color:#0078d4;
}
.B1{
    position: relative;
    left: 15px;
    bottom: 15px;
}
.all{
    padding: 15px;
    margin-left: 30px;
    display: flex;
    gap: 25px;
    text-align: center;
}
.I1{
/* background-color: #006cbe; */
margin-left: 53%;
margin-bottom: 15px;
display: flex;
position: relative;
bottom: 4px;
right: 10px;

}
D2{
   position:absolute;
  
 }
.no1{
    /* color: white;     */
     text-decoration: none;
       
        border: none;
         width: 100px;
         height:50px;
         font-weight: bold;
         font-size:20px;
         background-color: #08317d;
         color: white;
 }
 .no1:hover{
    background-color:#0078d4;
 }
/* .search-bar{
    
    align-items: center;
    display: flex;
    height: 10px;
    width: 100px;
    position: relative;
    right: 20px;
    color: white;
    margin-left: 55%;
}  */
.select-bar{
    /* margin-left: 40px; */
    /* margin-bottom: 80px; */
    /* position: relative; */
    /* bottom: 15px; */
    /* width: 200px; */
    /* height:55px; */
    background-color: #08317d;
    /* border:none; */
    color:white;
    font-weight: bold;
    font-size:18px;
    border-color:#0078d4 ;
  border: none;
    /* padding: 10px; */
    /* font-size: 20px; */
}
select-bar:hover {
    background-color:#0078d4; /* Background color on hover */
  }

D2:hover{
    background-color:#0078d4; 
}
both{
    /* border: 1px solid red; */
    display:inline-flex;
    width: auto;
    height: auto;
    position:relative;
    left: 20px;
    bottom: 5px;
}
.sel{

    display:flex;
    margin-top: 8px;
    padding: 10px;
    font-size:1.125rem;
    font-weight: bold;

   
}
.I3{
    padding: 35px;
}
.container3{
    background-color:#092862;
    /* padding: 20px; */
    width: 100%;
    
    height: 50px;
    border-top: 1px solid  hsl(206, 96%, 20%);
    box-sizing: border-box;
        position:sticky;
        top:0px;
    /* padding: 10px; */

}

.f1{
    /* border: 2px solid red; */
    display: inline-flex;
    padding: 5px;
    /* letter-spacing: normal; */
    /* font-style: normal; */
    /* font-stretch: normal; */
 
}
.f2{
position: relative;
bottom: 5px;
    color: white;
    text-decoration: none;
    /* margin-top: 10px; */
    padding: 10px;
    font-size:23px;
    font-weight: bold;

}
.f2:hover{
    background-color:#0078d4; 
}
.f0:hover{
    background-color:#0078d4;  
}

ul,.f1{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
    color: white;
    margin-left: 20px;
    
}
.tittle{
    /* border: 2px solid aqua; */
    display: inline-block;
    text-align: center;
    padding: 7px;
    position:relative;
    left: 430px;
    bottom: 280px;
    align-items: center;

}


.t1{
    background-color:#092862;
    color: white;
    font-size:50px;
    padding: 10px;
    box-shadow: rgba(0,32,92,0.85)
}
.add{
    /* border: 1px solid red; */
    display: inline-flex;
    background-color:#092862; 
    padding: 9px;
    position:relative;
    left:740px;
    bottom: 170px;
}
.ad1{
    color: white;
    display: flex;
    gap: 100px;
    padding: 5px;
   
}
.to{
    /* width: 1300px; */
    /* height: 300px; */
    /* display: flex; */
    /* margin-bottom: 100px; */
    border-bottom: 1px solid #b3bdce;
    /* text-decoration: underline; */
    /* width:; */
    padding: 20px;
    display:table;
   
}
.he3{
    /* border: 1px solid red; */
    width: 70px;
    height: auto;
    position: relative;
    right:20px;
    /* font-weight: bold; */
    /* background-color: #f6f7f9 ;  */
    font-size: 1.25em;
    
}
.he3:hover{
    background-color:rgba(0,0,0,0.14); 
}
.he1{
  font-size: 1.25em;
  /* line-height: 2; */
    font-weight: bold; 
    /* position: static;  */
    color:#092862;
    /* margin-left: 20px; */
    /* display:inline-block; */
}
.he2{
    font-size: 1.25em;
    font-weight: bold;
    /* line-height: 2; */
    /* height: auto; */
    text-decoration: none;
    /* margin-left: 40%; */
    color:#092862;
   /* display: flex; */
   /* display: inline-flexbox; */
  
}
container4{
    /* position: absolute; */
    background-image: url(./msf133157.webp);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    width: 1519px;
    height: 650px;

}
.container5{
    /* border-bottom: 1px solid #b3bdce; */
    /* padding: 25px; */
    display:flex;
    position:relative;
    bottom: 70px;
    width:95%;
    height:70px;
    margin:auto;
    margin-top: 200px;
    
    border-bottom:1px solid grey;
    justify-content: space-between;
    align-items: center;
 }
 


  /* Style for the search container */
.search-container {
    /* position: relative; */
    /* width: 32px; Adjust width as needed */
    /* position: relative; */
    /* width: 200px; Adjust width as needed */
    align-items: center;
    /* display: flex; */
    height: 10px;
    width: 100px;
    /* color: white; */
    position: relative;
    left: 200px;
    right: 300px;
    /* right: 200px; */
    /* color: white; */
    margin-left: 55%;
  }
  
  /* Style for the search input */
  .search-input {
    width: 0; /* Initial width */
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    /* transition: width 0.3s ease-in-out,margin 0.3s ease-in-out; */
    transition: opacity 0.3s, width 0.3s, left 0.3s;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Input not clickable */
    /* margin-left: -8px; */
    /* position: relative; */
    /* left: 50px; */

    display: flex; 
    /* margin-right:100px; */
    
  }
  
  /* Style for the search icon */
  .search-icon {
    position:absolute;
    top:15px;

    right:190px;    
    /* left:100px; */
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Expand the input field when clicked */
  .search-container.expand .search-input {
    /* display: flex; */
    /* margin-right: 200px;/ */
    width: 250px;
    height: 30px; /* Adjust expanded width as needed */
    opacity: 1; /* Make input visible */
    pointer-events: auto; /*Make input clickable*/
    position:relative;
    /* display: flex-box; */
    right:400px;  
    bottom: 14px;
    background-color:#0078d4;
    color: white;
    /* padding: 7px; */

    /* left: 220px; */
    /* margin-left: 0; */
  }


  input[type=text]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
 
.cover1{
    /* border: 2px solid blue; */
    width: 331.6px;
    height:422px;
    /* height: 350px; */
   
    /* padding: 20px; */
    background-color: #f6f7f9;
    line-height: 1.2;
    /* letter-spacing: normal; */
    display:table;
    /* box-shadow: 0px 2px 0px 7px ;   */
    /* object-fit: cover; */
    /* border-radius: 9px; */
    /* float:left; */
}
.cover1:hover{
    background-color:rgba(0,0,0,0.14) ;
    border: 2px solid #5e7298;
    cursor: pointer;
} 

.z1{
    color:#00205c;
    /* font-size: .875rem; */
    /* line-height: 1.5; */
    /* font-weight: normal; */
    margin-top: 20px;
}
.z2{
    font-size: 20px;
    color:#092862;
    font-weight: bold;
}
.z3{
    /* display: flex; */
    margin-left: 20px;
    /* display:block; */
    /* justify-content:center; */
    /* text-align: center; */
}

.cover2{
    /* border: 2px solid blue; */
    width: 331.6px;
    height:422px;
   
    display:inline-table; 
    line-height: 1.2;
    /* padding: 10px; */
    background-color: #f6f7f9;
}
.cover2:hover{
    background-color:rgba(0,0,0,0.14) ;
    border: 2px solid #5e7298;
    cursor: pointer;
} 
.cover3{
    /* border: 2px solid blue; */
   
    width: 331.6px;
    height:422px;
    /* height: 350px; */
    display:table; 
    line-height: 1.2;
    /* padding: 20px; */
    background-color: #f6f7f9;
}
.cover3:hover{
    background-color:rgba(0,0,0,0.14) ;
    border: 2px solid #5e7298;
    cursor: pointer;
} 
.cover4{
    /* border: 2px solid blue; */
    width: 331.6px;
    height:422px;
    /* height: 350px; */
    display:table; 
    line-height: 1.2;
    /* padding: 20px; */
    background-color: #f6f7f9;
}
.cover4:hover{
    background-color: rgba(0,0,0,0.14);
    border: 2px solid #5e7298;
    cursor: pointer;
} 
.convert{
    /* border: 2px solid red; */
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 23px;
    /* display: inline-flex; */
    display: flex;
    justify-content: space-evenly;
    /* border-radius: 10px; */

    
}
.container6{
    
    /* border: 1px solid red; */
    /* margin-top: 70px; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container7{
    display:flex;
    position: relative;
    top: 35px;
    right: 20px;
    width:95%;
    height:70px;
    margin:auto;
    border-bottom:1px solid grey;
    justify-content: space-between;
    align-items: center;
}

.container8{
    /* margin: auto; */
    margin-top: 20px;
    padding: 20px;
    /* margin: auto; */
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
}
.convert2{
/* border: 1px solid yellowgreen; */
padding: 10px;
width: 100%;
height: 400px;
display:flex;
justify-content:space-evenly;
position: relative;
right: 20px;
}
.box1{
    /* border: 1px solid black; */
    /* width: 330px; */
    /* height:300px; */
    /* padding: 20px; */
    /* background-color: #f6f7f9; */
    width:24%;
    height:200px;
    display: flex;
    flex-direction: column;
   
}
.bo1{
    margin:40px 0 13px 0;
    color: #3c4245;
    font-weight: bold;
    font-size: 1.20em;
    /* border: 1px solid green; */
    /* display: inline-block; */
    /* margin-bottom: 30px; */
    
     
}
.bo2{
     color:#092862;
   
    display:inline-block;
    font-weight: bold; 
    /* display: flex; */
    margin:30px 0 30px 20px;
    /* margin-left:20px;   */

    
    

}
.card{
    /* border: 2px solid #5e7298;  */
    /* text-align: center; */
    /* display:inline; */
    margin-bottom:30px;
    height: 600px;
    background-color: #f6f7f9;
}
.card:hover{
    border: 2px solid #5e7298; 
    background-color:aliceblue;
    cursor: pointer;
    .bo2 {
        border: 2px solid  #5e7298;
        background-color:aliceblue;
    }
  
}
/* .bo2:hover{
    border: 1px solid #092862;
} */

.container9{
    /* border: 1px solid red; */
    width: 100%;
    height:500px;
    padding: 20px;
   
    /* margin: 20px 0 20px 0; */
    
}
.convert3{
/* border: 1px solid yellowgreen; */
  width: 100%;
 height: 400px;
 margin-left: 50px;
 margin: auto;
 padding: 20px;
 display: flex;
 justify-content: space-around;
 /* margin-bottom: 100px; */
 position: relative;
 bottom: 130px;
 right:60px ;
 /* align-items: center; */
 
}
.off1{
   
    margin-left: 40px;

    /* width: 100px;
    display: inline;
   margin: auto; */
   
}
.of1{
    /* border: 1px solid black; */
    width: auto;
   height: 330px;
   background-color: #f6f7f9;
}
.edit1{
    margin-bottom: 30px;
    
    /* display: table-cell; */
    /* vertical-align: bottom; */
    /* line-height: 115px;     */
    /* display:flex; */
    width: 464px;
    /* line-height: 10px; */
    /* color: #00205c;
     */
     /* padding: 20px; */
     color:#092862;
    font-size: 1.30rem;
    line-height: normal;
    /* justif-content: center; */
    border-bottom:1px solid grey;
    /* align-items: center; */
}
.item-tittle{
    color: #00205c;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 20px;

}
.of1:hover{
    background-color:aliceblue;
    cursor: pointer;
}
.of2:hover{
    background-color:aliceblue;
}

.container10{
    /* border: 1px solid red; */
    width: 100%;
    height: 400px;
    margin: auto;
}
.to1{
    width: auto;
    height: 330px;
    background-color: #f6f7f9;
}
.edit2{
    margin-bottom: 30px;
    /* display: table-cell; */
    /* vertical-align: bottom; */
    /* line-height: normal; */
    /* display:flex; */
    width: 464px;
    /* color: #00205c;
     */
     color:#092862;
    font-size: 1.30rem;
    line-height: normal;
    /* justif-content: center; */
    border-bottom:1px solid grey;
}
.item-tittle1{
    color: #00205c;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 20px;
}
.convert4{
    width: 100%;
    height: 400px;
    margin-left: 30px;
    /* margin: auto; */
    /* padding: 20px; */
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 100px; */
    position: relative;
    bottom: 180px;
    /* right:600px ; */
    right: 20px;
}
.to1:hover{
    background-color:aliceblue;
    cursor: pointer;
}
.container11{
    /* border: 1px solid red; */
    width: 1489px;
    height: 800px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position:relative;
    bottom: 100px;
  

}
.fif1{
    /* border: 1px solid green; */
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    line-height:2;
    font-weight: bold;  
    color:#092862;
    /* border-bottom: 1px solid ; */
    border-bottom:1px solid grey;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 200px; */
    /* position: relative;
    bottom: 100px;
    margin-bottom: 200px; */

}
.fif2{
    /* border: 1px solid orange; */
    margin-left: 375px;
    width: 100px;
    height: auto;
    /* padding: auto; */
    text-align: center;
    /* position: relative; */
    /* right:20px; */
    font-weight: bold;
    /* background-color: #f6f7f9 ;  */
    font-size: 1.25em;
    /* line-height: 2; */
    
}
.fif3{
    font-weight: bold;
    font-size: 1.25em;
    line-height: 2;
    text-decoration: none;
    /* margin-left: 40%; */
    color:#092862;
}
.fif2:hover{
    background-color:rgba(0,0,0,0.14); 
}
.convert5{
    /* position: relative; */
    margin-bottom: 200px;
    /* border: 1px solid green; */
    width: 650px;
    height: 850px;
    margin-right: 50px;

}
.convert6{
    /* border: 1px solid orange; */
    width:850px;
    height:854px ;
}
.fif4{
    /* border: 1px solid rebeccapurple; */
    width:580px;
    height: 250px;
    /* margin: auto; */
    padding: 20px;
    display:flex;
    flex-direction: row;
    
}

.fif6{
    /* border: 1px solid black; */
    width: 279px;
    height: 250px;
    background-color: #f6f7f9;
    
}
.fif6:hover{
    background-color:aliceblue;
    cursor: pointer;
}
.item-tittle2{
    color: #00205c;
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;
    margin: auto;
    /* margin-left: 50px; */
    /* margin-top: 15px; */
}
.item-abstract{
    
  color: #3c4245;
  font-size: 18px;
}
.fif7{
/* border: 1px solid rosybrown; */
 width: 270px;
 /* display:inline-flexbox; */
 margin-top: 20px;
 
margin-left: 20px;
}
.fif5{
    display:flex;
    gap: 30px;
}
.fif8{
    /* border: 2px solid greenyellow; */
    width: 600px;
    height: 520px;
    background-color: #f6f7f9;
}
.fif8:hover{
    background-color:aliceblue;
    cursor: pointer;
}
.fif9{
    /* border: 1px solid green; */
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    line-height:2;
    font-weight: bold;  
    color:#092862;
    /* border-bottom: 1px solid ; */
    border-bottom:1px solid grey;
}
.fif10{
    /* border: 1px solid orange; */
    margin-left: 650px;
    width: 100px;
    height: auto;
    /* padding: auto; */
    text-align: center;
    /* line-height: 5px; */
    /* position: relative; */
    /* right:20px; */
    font-weight: bold;
    /* background-color: #f6f7f9 ;  */
    font-size: 1.25em;
}
.fif10:hover{
    background-color:rgba(0,0,0,0.14); 
}
.fif11{
    text-decoration: none;
    /* margin-left: 40%; */
    color:#092862;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 2;
}
cntr1{
    height: 900px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cntr2{
    height: 750px;
    width: 100%;
    /* border: 2px solid red;    */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(./blood-donation-thumbs-up.tmb-1920v.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    


}
.both{
    border: 1px solid green;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border: none;
    position: relative;
    bottom: 16px;

}
.both:hover{
    background-color:#0078d4 ;

    .select-bar{
        background-color:#0078d4 ;
    }
}
.D2{
    /* border:1px solid red; */
    height: 24px; 
    /* position: relative; */
    /* bottom: 3px; */
    /* left: 10px; */
      filter: brightness(0) invert(1);
}

dupe{
    height: 50%;
    width: 100%;
    border: 2px solid purple;
    
}
.cntr3{
    height:70px;
    width: 600px;
    /* border: 2px solid violet; */
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    /* font-size: 20px; */
    font-size: 3.125rem;
    line-height:5rem;
    box-sizing: border-box;
   background-color:rgb(0 32 92 / 85%);
    color: white;
   margin-top: 200px;
   /* padding: 14px; */

}
.centr4{
    /* border: 1px solid seagreen; */
    width: 200px;
    height: 40px;
    font-size: 1.4rem;
    line-height:2px;
   background-color:rgb(0 32 92 / 85%);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    margin-top: 30px;
   
}
.centr5{
     /* color: white; */
    text-decoration: none;
    /* display: block; */
    /* padding: 10px 30px; */
    color: inherit;
    line-height: 16px;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    /* outline: none; */
}
.centr4:hover{
    background-color:#0078d4;  
}
.centr6{
    border:1px solid green;
    display: inline-block;
    background-color:rgb(0 32 92 / 85%);
    /* font-size: .875rem; */
    position: relative;
    top:184px;
    left:722px;
    width: 170px;
    height: 20px;
    /* line-height: 34px; */
    /* text-align: left; */
    cursor: pointer;
    color: white;
    /* gap: 20px; */
    display: flex;
    gap: 100px;
    text-align: center;
    padding: 10px;
   
}
.centr7{
font-size: 17px;
align-items: center;
text-align: center;
}

.fif12{
    /* border: 1px solid red; */
    width: 100%;
    height: 131px;
    display: flex;
    margin-top: 20px;


   
}
.fif13{
    /* border: 1px solid black; */
    width:131px;
    height: 131px;
    
   
    /* position: absolute; */
    
}
fif14{
    background-image: url(./who-034378-orig3d74ee3db7a1424f8f877758fcda1ae9.tmb-479v.jpg);
    width: 100%;
    min-height:140px;
    /* display: block; */
    /* display: table; */
    /* position: absolute; */
}
fif14-1{
    background-image: url(./blindness-onchocerciasis-ghana-anne-nijburg.tmb-479v.jpg);
    width: 100%;
    min-height:140px;
    /* display: block; */
}
fif14-2{
    background-image: url(./who-film-festival-trophy---who-logo.webp);
    width: 100%;
    min-height:140px;
    /* display: block; */
}
fif14-3{
    background-image: url(./video\ \(1\).webp);
    width: 100%;
    height:140px;
    /* display: block; */
}
fif14-4{
    background-image: url(./event.webp);
    width: 100%;
    min-height:140px;
    /* display: block; */
}
.fif15{
    /* border: 1px solid palevioletred; */
    width: 100%;
    height: 131px;
    margin-left: 8px;
    background-color: #f6f7f9;
    
}
.fif16{
    padding: 5px;
    color: #00205c;
    font-size: 1.325rem;
    line-height: 1.5;
    font-weight: 900;
    display:block;
}
.fif17{
    color: #00205c;
    font-size: 1.125rem;
    font-weight: 100;
    margin-left: 10px;

}
.fif12:hover{
    border: 2px solid #5e7298; 
    background-color: rgba(0,0,0,0.14);
    cursor: pointer;
    /* .fif13 {
        border: 2px solid  #5e7298;
        background-color:aliceblue;
    } */
  
}
.fif15:hover{
    background-color: rgba(0,0,0,0.10);

    
}
.container12{
    /* border: 1px solid red; */
    width: 1557px;
    height: 500px;
    background-color: #0c2b64;
    padding: 40px;
    display: flex;
    /* margin-bottom: 20px; */
    flex-direction:column;
}

.reg1{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rosybrown; */
    width: 300px;
    height: 300px;
    margin-top: 30px;
}
.reg2{
    /* border: 1px solid orangered; */
    width: 280px;
    height:30px;
    color: inherit;
    text-decoration: none;
    font-size:18px;
    
   font-family:  "Noto Sans", Arial, Helvetica, sans-serif;
    padding: 4px;
    /* line-height: 2.5rem; */
    /* font-weight: bold; */
    /* text-align: center; */
    
}
.did1{
    /* padding: 30px; */
    /* border: 1px solid greenyellow; */
    width:1557px;
    height: 400px;
    margin-bottom: 20px;
    /* margin-left: 60px; */
    display: flex;
   margin-bottom: 70px;
}
.did3{
    /* border: 1px solid brown; */
    width: 1000px;
    height:400px ;
    display: flex;
    /* margin-bottom: 60px; */
    justify-content: space-evenly;
}
.convert7{
    /* border: 1px solid goldenrod;     */
    width: 140px;
    display: flex;
justify-content:start;
align-items:center;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size:30px;
    /* line-height: 2.5rem; */
    font-weight: bold;
}
.convert7:hover{
    background-color:#0078d4;
}
.did4{
    /* border: 1px solid hotpink; */
    width: 500px;
    height: 400px;
    margin-left: 20px;
}
.reg-2{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rosybrown; */
    width: 450px;
    height: 300px;
    margin-top: 30px;
}
.reg2:hover{
    background-color:#0078d4;
}
.reg3{
    color:white;
    font-size: 20px;
    font-weight: bold;
    /* border: 1px solid red; */
    /* width: 500px; */
   
    /* height: 50px; */
    text-decoration: none;
    /* padding: 10px 30px; */
    /* line-height: 16px; */
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    /* outline: none; */
    /* transition: all 0.2s ease-in-out; */
    /* border: 2px solid var(--l1-neutralOutlineRest); */
    /* background-color: var(--l1-neutralFillStealthRest); */
}
.reg-3{
    /* border: 1px solid red; */
    width: 230px;
    height: 33px; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center;  */
   margin-top: 25px;
    /* display: inline-flex; */
    padding: 5px;
    /* text-decoration: none; */
    background-color: #2a4577;

}
.reg-3:hover{
    border: 2px solid #0078d4;
}
.did5{
    /* border: 1px solid black; */
    width:90%;
    height: 100px;
   /* margin-bottom: 30px; */
/* display: flex; */
position: relative;
bottom: 75px;
    /* flex-direction: row; */
    /* padding: 10px; */
    /* margin-bottom: 100px; */
   
}
.reg4{
    /* border: 1px solid brown; */
    width: 340px;
    height: 100px;
    /* display: table; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    margin: auto;
    /* margin-bottom: 1000px; */
    /* position: relative;
    bottom: 90px;
    right: 40px; */
}
.reg4:hover{
    background-color:#0078d4;
}
.container13{
    align-items: start;
    justify-content: start;
    display: flex;
    /* border: 3px solid rgb(255, 255, 0);     */
    width: 100%;
    height: 100px;
    /* margin-top: 0px; */
    background-color: #2a4577;
    /* margin-bottom: 20px; */
    /* position:abso; */
    /* margin-bottom:20px; */
    /* bottom: 27px; */
    /* padding: 20px; */
}
.did6{
    /* border: 1px solid red; */
    width: 97%;
    height: 100px;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
    display: flex;
  
    /* margin: auto; */
   
}
.reg5{
    /* border: 1px solid white; */
    width: 170px;
    height:30px;
    /* display:inline-flex; */
    display: flex;
    justify-content:center;
    /* align-item:end; */
    margin-top: 30px;
   
   
}
.reg5:hover{
    background-color:#0078d4;
}
.reg-5{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content:end;
    align-items:center;

}
.did7{
    /* border: 1px solid orange;     */
    width: 550px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reg6{
    /* border: 1px solid red; */
    /* padding: 30px;    */
    width: 37px;
    height: 33px;
   
}
.reg6:hover{
    background-color:#0078d4;
}

.did8{
    /* border: 1px solid gold; */
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    
    /* margin: auto; */
}
.reg7{

    /* border: 1px solid green; */
    display: inline-block;
    height: 24px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items:center;
    gap: 5px;
    padding: 3px;
   
   
}
.reg-7{
    font-weight: bold;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    font-size:19px;
}
.reg8{
    /* border: 1px solid red; */
    display: inline-block;
    height: 24px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items:center;
    padding: 3px;
}
.reg8:hover{
    background-color:#0078d4;
}